{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">

                    <div class="col-12">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <h4 class="m-t-0 header-title">List Produits</h4>
                            <p class="text-muted font-14 m-b-20">

                            <a href="{{ path('add') }}">
                                <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Produit</button>                            </p>

                            </a>

                            <a href="{{ path('topfive') }}" class="alert-success">TopFive</a>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Coleur</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                    <th>Detail</th>
                                    <th>Etat</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for p in  produits %}
                                    <tr>

                                        <td>{{ p.nom }}</td>
                                        <td>{{ p.prix }}</td>
                                        <td>{{ p.coleur }}</td>
                                        <td><a href="{{ path('modification',{'id':p.id}) }}"><i class="fa fa-pencil" style="color:#ff5b5b;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('suppression',{'id':p.id}) }}"><i class="fa fa-trash" style="color:#00aff0;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('detail',{'id':p.id}) }}"><i class="fa fa-list" style="color:#0eac5c;font-size:20px"></i> </a> </td>
                                        <td>
                                           {% if p.etat  == 0 %}
                                            <a href="{{ path('traiter',{'id':p.id}) }}" class="alert-warning">En cours</a>
                                            {% elseif p.etat == 1 %}
                                            <a href="{{ path('traiter',{'id':p.id}) }}" class="alert-success">Accepter</a>

                                        </td>
                                                {% endif %}
                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}