<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('assetClient/css/open-iconic-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/jquery.timepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('assetClient/css/style.css') }}">



    {% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="client/index.html">Vacation<span>Travel Agency</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="client/index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ path('list_categories') }}" class="nav-link">Categories</a></li>
                <li class="nav-item"><a href="destination.html" class="nav-link">Destination</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item cta"><a href="#" class="nav-link">Book Now</a></li>

            </ul>
        </div>
    </div>
</nav>





{% block body %}







{% endblock %}

{% block javascripts %}
    <!-- jQuery  -->



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="{{ asset('assetClient/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery-migrate-3.0.1.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/popper.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/aos.js') }}"></script>
    <script src="{{ asset('assetClient/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('assetClient/js/bootstrap-datepicker.js.js') }}"></script>
    <script src="{{ asset('assetClient/js/scrollax.min.js') }}"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{{ asset('assetClient/js/google-map.js')}}"></script>
    <script src="{{ asset('assetClient/js/main.js') }}"></script>



{% endblock %}
</body>
</html>
